@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Estilos de Navbar */

header nav {
    width: 100%;
}

header .hero {
    height: 40vh;
    background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.7)), url('../img//hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.menu {
    list-style: none;
    text-align: center;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Estilos seccion tienda */

main section:nth-child(1) {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
    width: 100%;
}

.tienda {
    color: rgb(255, 255, 255);
    padding: 50px 0px;
}

.tienda-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.tienda-grid div:nth-child(1),
.tienda-grid div:nth-child(2),
.tienda-grid div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.tienda-grid div:nth-child(1) .picture {
    background-image: url('../img//prod-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tienda-grid div:nth-child(2) .picture {
    background-image: url('../img//prod-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tienda-grid div:nth-child(3) .picture {
    background-image: url('../img//prod-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tienda-grid div:nth-child(1) h2,
.tienda-grid div:nth-child(2) h2,
.tienda-grid div:nth-child(3) h2 {
    font-weight: bold;
}

.tienda-grid div:nth-child(1) p,
.tienda-grid div:nth-child(2) p,
.tienda-grid div:nth-child(3) p {
    max-width: 350px;
}

/* Estilos session servicios */

main section:nth-child(2) {
    background: linear-gradient(0deg, rgba(252, 220, 69, 1), rgba(248, 184, 75, 1)); 
    width: 100%;
}

.servicios {
    color: rgb(0, 0, 0);
    padding: 50px 0px;
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.servicios-grid div:nth-child(1),
.servicios-grid div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.servicios-grid div:nth-child(1) .picture {
    background-image: url('../img//service-1.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;    
}

.servicios-grid div:nth-child(2) .picture {
    background-image: url('../img//service-2.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;    
}

.servicios-grid div:nth-child(1) p,
.servicios-grid div:nth-child(2) p {
    max-width: 350px;
}


@media screen and (min-width: 800px) {

    /* Estilos seccion menu */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    /* Estilos seccion Tienda */
    .tienda-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Estilos seccion servicios */
    .servicios-grid {        
        grid-template-columns: repeat(2, 1fr);
    }
}